body{
  background-color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
}

    
   
   
/* NAVBAR */
.navbar{
  background-color: #85C88A;
}
.nav-item{
    padding: 0 18px;
    font-family: 'Noto Sans', sans-serif;
}
.navbar-brand{
  font-family: 'Red Hat Mono', monospace;
}
.navrig{
    margin: auto 3% auto auto;
}


.button:hover {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  text-decoration: none;
}


#signup,#signin{
  border-radius: 21px;
}

.dropdown-menu{
background-color: grey;
}
.dropdown-item{
  background-color: grey;

}




/* About us */
#title{
  padding: 7% 2% 5% 2% ;
  margin-bottom: 5%;
  background-color: #FFFFFF ;
  font-family: 'Roboto Condensed', sans-serif;
}

/* login */

#Log{
  border-style: double;
  border-radius: 20px;
  border-width: 5px;
  border-color: #85C88A;
  margin: 0 5% 2% 5%;
  text-align: center;
}
.cl1,.cl2{
    padding-left: 40px;
}
.cl1{
  border-right-style: double;
  border-right-width: 5px;
  border-right-color: #85C88A;
}

.btnlog {
  margin: 2% auto 5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 59px;
  line-height: 59px;
  color: #FFFFFF;
  font-family: Arial;
  width: 281px;
  font-size: 40px;
  font-weight: 100;
  padding: 10px;
  background-color: #85C88A;
  -webkit-box-shadow: 11px 11px 4px 8px #000000;
  -moz-box-shadow: 11px 11px 4px 8px #000000;
  box-shadow: 11px 11px 4px 8px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btnlog:hover {
  background: #00C130;
  border: solid #FFFFFF 0;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  text-decoration: none;
}


/* Feedback */
.carousel {
    background-color: #85C88A;
    align-items: center;
    text-align: center  ;
    height: 30rem;
  }
  
#mycarousel{
   background-color: #FFFFFF;
   
 } 
.carousel-item{
  padding: 8% 10%;
  font-family: 'Roboto Condensed', sans-serif;
}

.testimonial-image{
  border-radius: 100%;
  margin: 0 0 2rem;
}





/* CONTACT */

#contact{
  margin: 2% 25%;
  padding: 2% 5% 2% 5%;
  text-align: center;
  align-items: center;
  outline-style: double;
  outline-width: 10px;
  outline-color: #85C88A;
  border-radius: 20px;
}

.form-control{
  margin: 20px;
}
.top{
  margin-top: 4%;
}
#cont{
  

  text-align: center;
}
.btnsend {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  color: #FFFFFF;
  font-family: Verdana;
  width: 173px;
  font-size: 45px;
  font-weight: 100;
  padding: 40px;
  background-color: #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btnsend:hover {
  border: solid #FFFFFF 1px;
  text-decoration: none;
}



/* Footer */
#footer{
    text-align: center;
    padding: 10px;
    background-color: #85C88A ;

}

.foot{
    margin: 10px  8px;
}
